.QuizCreator {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    padding-top: 100px;
    background: linear-gradient(#141e30, #243b55);
    color: white;
    height: 100vh;
}

/* Large screens */
@media only screen and (min-width: 600px) {
    
    .QuizCreator {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        width: 100%;
        padding-top: 100px;
        background: linear-gradient(#141e30, #243b55);
        color: white;
    }

}

/* Small screens */
@media only screen and (max-width: 600px) {
    
    .QuizCreator {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        width: 100%;
        padding-top: 20px;
        background: linear-gradient(#141e30, #243b55);
        color: white;
    }
    
}

.QuizCreator > div {
    width: 100%;
    max-width: 600px;

    padding: 0 20px;
}

.QuizCreator h1 {
    text-align: center;
}

.QuizCreatorForm {
    padding: 15px;
    box-shadow: 5px 5px 5px rgba(84, 58, 136, 0.15);
    border-radius: 5px;
    background: #7969e6;
}

.QuizCreator hr {
    color: white;
}