.AnswerItem {
    margin-bottom: 10px;
    padding: 5px 10px;

    
    border-radius: 5px;

    cursor: pointer;
}

.AnswerItem:hover {
    background: rgba(255, 255, 255, .2);
    transition: background .3s ease-in-out;
}

.AnswerItem.success {
    background: rgba(2, 235, 49, 0.473)
}

.AnswerItem.error {
    background: rgba(255, 0, 34, 0.47);
}